@import '../../styles/responsive-device.scss';
@import '../../styles/variables.scss';

.table-of-contents {
  position: relative;
}

.table-header {
  position: relative;
  z-index: -1;
  display: flex;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 17px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(222, 92, 112);

  .table-header-title {
    margin-top: 5px;
  }

  .table-header-icon {
    svg {
      margin: 7px 10px 0 20px;
    }
  }
}

.content-table {
  border-right: none;
  box-sizing: border-box;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 80px;

  .table {
    height: 100%;
    padding: 20px 10px 30px 25px;
    box-sizing: border-box;
    font-size: 90%;
    line-height: 1.5;
    overflow: auto;

    ::marker {
      content: counters(list-item, '.') '.';
    }
    li {
      padding-left: 0.5em;
      color: rgb(222, 92, 112);
      line-height: 35px;
    }
  }
}
