body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  // about
  .introduce-section {
    color: $dark-light-font-color;
  }

  .section-header-wrapper {
    .section-header {
      border-bottom: 4px solid $dark-underline-color;
      color: $dark-light-font-color;
    }
  }

  .icon {
    color: $dark-icon-color;
  }

  .project-section {
    .project {
      .body {
        .tech-stack {
          .tech {
            background-color: $dark-tech-background-color;
          }
        }
      }
    }
  }

  // Drawer
  .drawer-wrapper {
    .drawer-character-image-background {
      height: 100%;
      background-image: url(../../assets//drawer-dark-background.avif);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: black;
      filter: brightness(0.5);
    }
    .drawer-character-name {
      color: white;
    }
    .drawer-character-desc {
      color: white;
    }
    .drawer-menu-list {
      .drawer-menu-list-icon {
        .drawer-menu-list-title {
          color: white;
        }
      }
      svg {
        font-size: 20px;
        color: white;
      }
    }
  }

  // list Sub Header style
  .MuiListSubheader-colorInherit {
    color: rgb(179, 179, 179);
  }

  // list Item style
  .MuiList-padding > .MuiListItemButton-root {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 117, 221, 0.8);
      transform-origin: bottom right;
      transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover {
      background-color: rgba(143, 143, 143, 0.5);
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .MuiListItemText-root {
    color: white;
  }

  .css-10hburv-MuiTypography-root {
    font-size: 20px;
    font-family: 'Cute Font', cursive;
  }
  .MuiSvgIcon-fontSizeMedium {
    color: white;
  }
  .css-10hburv-MuiTypography-root {
    line-height: 0.8;
  }

  .MuiCollapse-wrapper {
    background-color: rgba(232, 232, 232, 0.1);
    margin-left: 8px;
    width: 95%;
    border-radius: 10px;
  }

  .MuiListItem-gutters
    > .MuiButtonBase-root
    > .MuiListItemText-root
    > .MuiTypography-root {
    color: rgb(79, 79, 79);
    &:hover {
      color: white;
    }
  }

  .MuiList-root
    > .MuiListItem-gutters
    > .MuiButtonBase-root
    > .MuiListItemIcon-root {
    color: rgb(33, 37, 112);
  }

  .category-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    border-right: 6px solid $dark-category-border-color;
    border-left: 6px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  // floating button
  .floating-icon {
    svg {
      margin-top: 7px;
      font-size: 30px;
      color: $dark-icon-color;
    }
  }
  .fab-action {
    background: $dark-icon-backgrond-color;
  }

  .fab-action-1:hover {
    background-color: rgb(43, 123, 177);
  }

  .fab-action-2:hover {
    background-color: rgb(216, 83, 136);
  }

  .fab-action-3:hover {
    background-color: rgb(162, 174, 66);
  }

  .thumbnail {
    h3 {
      color: $dark-light-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }

  .post-header {
    .parallax > use:nth-child(3) {
      fill: $dark-background-color;
    }
  }

  // tag
  .post-tag {
    background: $dark-tag-color;
    a {
      color: $dark-lightest-font-color;
    }

    &::before {
      background: $dark-lightest-font-color;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    }

    &::after {
      background: $dark-background-color;
      border-left: 10px solid $dark-tag-color;
    }

    &:hover {
      background-color: $dark-tag-complementary;
      color: white;
    }

    &:hover::after {
      border-left-color: $dark-tag-complementary;
    }

    .totalCount {
      background-color: $dark-tag-total-count;
    }
  }

  // table-of-contents
  .table-of-contents {
    a {
      background: linear-gradient(
        to right,
        $dark-toc-content-hover-color,
        $dark-toc-content-hover-color 50%,
        $dark-toc-content-color 50%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 0.5s ease;
      background-clip: text;
    }
  }

  .table-header {
    border: solid 1px $middle-gray;
  }

  .content-table {
    border: solid 1px $middle-gray;
  }

  .content-table {
    a:hover {
      font-weight: bold;
      background-position: 0 100%;
    }
  }

  .toc-content {
    color: $dark-toc-header-color;
    border: 1px solid $dark-toc-border-color;
    background-color: $dark-toc-background-color;

    .toc-close-btn {
      color: $dark-toc-close-btn-color;
    }

    .toc {
      a {
        color: $dark-toc-content-color;
      }
      a:hover {
        color: $dark-toc-content-hover-color;
      }
    }
  }

  .toc-active {
    color: rgb(230, 109, 112) !important;
  }

  .scroll-indicator {
    li {
      background-color: $dark-scroll-indicator-color;
      a {
        color: $dark-scroll-indicator-number-color;
      }
      &.active {
        background-color: transparent;
      }
    }
  }
}
