body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  // home
  .home-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }
    .author-introduction {
      color: $middle-gray;
    }
    a {
      color: $light-link-color;
    }
  }

  // about
  .introduce-section {
    color: $dark-gray;
  }

  .section-header-wrapper {
    .section-header {
      border-bottom: 4px solid $light-underline-color;
      color: $dark-gray;
    }
  }

  .icon {
    color: $light-icon-color;
  }

  .project-section {
    .project {
      .body {
        .tech-stack {
          .tech {
            background-color: $light-tech-background-color;
          }
        }
      }
    }
  }

  .category-container {
    border-top: 1px solid $light-category-border-color;
    border-bottom: 1px solid $light-category-border-color;
    border-right: 6px solid $light-category-border-color;
    border-left: 6px solid $light-category-border-color;
    background-color: $light-category-background-color;
    .item {
      border: 1px solid $light-category-border-color;
      background-color: $light-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      a {
        color: $light-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $light-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .category-side-wrapper {
    .category-side-container {
      .category-side {
        .category-side-list {
          color: white;

          .item-side {
            span {
              color: white;
            }
          }
        }
      }
    }
  }

  // floating button
  .floating-icon {
    svg {
      margin-top: 7px;
      font-size: 30px;
      color: $light-icon-color;
    }
  }
  .fab-action {
    background: $light-icon-backgrond-color;
  }

  .fab-action-1:hover {
    background-color: rgb(43, 123, 177);
  }

  .fab-action-2:hover {
    background-color: rgb(216, 83, 136);
  }

  .fab-action-3:hover {
    background-color: rgb(162, 174, 66);
  }

  .thumbnail {
    h3 {
      color: $dark-gray;
    }
    p {
      color: $middle-gray;
    }
    &:hover {
      text-shadow: $light-hover-text-shadow;
    }
  }

  .footer {
    color: $light-gray;
    a {
      color: $dark-gray;
    }
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }

  .post-header {
    .parallax > use:nth-child(3) {
      fill: $light-background-color;
    }
  }

  // tag
  .post-tag {
    background: $light-tag-color;
    a {
      color: $dimmed-color;
    }

    &::before {
      background: $dimmed-color;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    }

    &::after {
      background: white;
      border-left: 10px solid $light-tag-color;
    }

    &:hover {
      background-color: $light-tag-complementary;
      color: white;
    }

    &:hover::after {
      border-left-color: $light-tag-complementary;
    }

    .totalCount {
      background-color: $light-tag-total-count;
    }
  }

  .toc-content {
    color: $light-toc-header-color;
    border: 1px solid $light-toc-border-color;
    background-color: $light-toc-background-color;

    .toc-close-btn {
      color: $light-toc-close-btn-color;
    }

    .toc {
      a {
        color: $light-toc-content-color;
      }
      a:hover {
        color: $light-toc-content-hover-color;
      }
      &::before {
        color: rgb(162, 174, 66);
      }

      &::after {
        color: rgb(162, 174, 66);
      }
    }
  }

  .toc-active {
    color: rgb(230, 109, 112) !important;
  }

  .scroll-indicator {
    li {
      background-color: $light-scroll-indicator-color;
      a {
        color: $light-scroll-indicator-number-color;
      }
      &.active {
        background-color: transparent;
      }
    }
  }
}
