.post-date {
  z-index: -1;
  position: absolute;
  display: flex;
  left: 50%;
  top: 320px;
  width: max-content;
  max-width: 100%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #fff;
  font-family: 'Catamaran';
  opacity: 0;
  animation: fadeInRight 1s cubic-bezier(0.55, 0.5, 0.45, 0.5);
  animation-delay: 0.6s;
  animation-fill-mode: forwards;

  .divider {
    margin-left: 20px;
  }

  .post-date-icon {
    svg {
      margin-top: 6px;
      margin-right: 8px;
      font-size: 18px;
    }
  }

  .post-read-time-icon {
    svg {
      margin-top: 6px;
      margin-right: 8px;
      margin-left: 20px;
      font-size: 18px;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }
  80% {
    opacity: 0.8;
    transform: translate3d(-52%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
