.post-date {
  z-index: -1;
  position: absolute;
  display: flex;
  left: 50%;
  top: 320px;
  transform: translateX(-50%);
  margin-bottom: 80px;
  font-size: 18px;
  color: #fff;
  font-family: 'Catamaran';

  .divider {
    margin-left: 20px;
  }

  .post-date-icon {
    svg {
      margin-top: 6px;
      margin-right: 8px;
      font-size: 18px;
    }
  }

  .post-read-time-icon {
    svg {
      margin-top: 6px;
      margin-right: 8px;
      margin-left: 20px;
      font-size: 18px;
    }
  }
}
