@import '../../styles/variables.scss';

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

img {
  width: 250;
  height: 250;
}

.introduce-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .introduction {
    display: flex;
    flex-direction: column;
    word-break: keep-all;

    .react-rotating-text-cursor {
      animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
        infinite;
    }

    strong {
      display: inline-block;
      font-weight: 600;
    }

    &.korean {
      font-weight: 100;
      font-size: 32px;
      line-height: 1.2;
      font-size: 40px;
      .title {
        .react-rotating-text-cursor {
          font-size: 45px;
          line-height: 45px;
        }
      }

      .social-links {
        display: flex;
      }
    }

    &.english {
      font-family: 'montserrat';
      font-size: 45px;
      line-height: 1.2;

      .name {
        font-size: 35px;
        font-weight: 600;
      }

      .job {
        font-size: 35px;
      }

      .description {
        font-weight: 200;
        margin-top: 8px;
        font-size: 20px;
      }

      .social-links {
        margin-top: 20px;
        display: flex;
      }
    }
  }

  .thumbnail-wrapper {
    display: block;

    @media all and (min-width: 280px) and (max-width: 768px) {
      display: none;
    }
  }
}
