@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=IM+Fell+French+Canon&family=Shadows+Into+Light&display=swap');

// Temporarily disable scrollbar
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.drawer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cute Font', cursive;

  .drawer-character-image-background {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .drawer-character-image {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    background-image: url(../../../content//assets/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    border-radius: 20px;
  }

  .drawer-character-name {
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: -20px;
    color: black;
  }

  .drawer-character-desc {
    font-size: 20px;
    color: black;
  }

  .drawer-menu-list {
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 52px;
    margin: 30px 0;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 5px 5px rgba(179, 179, 179, 0.5);

    .drawer-menu-list-icon {
      cursor: pointer;
      margin-top: 15px;

      &:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease;
        visibility: visible;
        .drawer-menu-list-title {
          transform: translateY(-10px);
          transition: all 0.2s ease;
          opacity: 1;
        }
      }

      .drawer-menu-list-title {
        text-align: center;
        font-size: 16px;
        color: black;
        opacity: 0;
      }

      svg {
        font-size: 20px;
      }
    }
  }

  .divider {
    content: '';
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background-color: rgb(238, 235, 235);
  }
  .root {
    margin-right: 60%;
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      #30cfd0 0%,
      #37c58e 20%,
      #31ca29 40%,
      #522ea6 60%,
      #c21cc5 80%,
      #d3222b 100%
    );
    font: {
      size: 22px;
    }

    background-size: 200% auto;

    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 2s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }

  // list Sub Header style
  .MuiListSubheader-colorInherit {
    font-size: 10px;
    background-color: transparent;
  }

  // list Item style
  .MuiList-padding > .MuiListItemButton-root {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
    }
  }

  .MuiListItemText-root {
    color: white;
  }

  .css-10hburv-MuiTypography-root {
    font-size: 20px;
    font-family: 'Cute Font', cursive;
  }
  .MuiSvgIcon-fontSizeMedium {
    color: white;
  }
  .css-10hburv-MuiTypography-root {
    line-height: 0.8;
  }

  .MuiCollapse-wrapper {
    background-color: rgba(232, 232, 232, 0.1);
    margin-left: 8px;
    width: 95%;
    border-radius: 10px;
  }

  .MuiListItem-gutters
    > .MuiButtonBase-root
    > .MuiListItemText-root
    > .MuiTypography-root {
    color: rgb(79, 79, 79);
    &:hover {
      color: white;
    }
  }

  .MuiList-root
    > .MuiListItem-gutters
    > .MuiButtonBase-root
    > .MuiListItemIcon-root {
    color: rgb(33, 37, 112);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
