@import '../../styles/variables.scss';

.post-header {
  z-index: -1;
  height: 480px;

  .header {
    z-index: -10;
    position: relative;
    text-align: center;
    height: 480px;
    // background: linear-gradient(
    //   60deg,
    //   rgba(84, 58, 183, 1) 0%,
    //   rgba(0, 172, 193, 1) 100%
    // );
    background: url(../../../assets/post-backgound.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
    color: white;
  }

  .inner-header {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 80px;
    top: 450px;
    min-height: 100px;
    max-height: 130px;
  }

  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      top: 490px;
      height: 50px;
      min-height: 50px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
  }
}
