.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 35px;
  height: 60px;
  margin-left: -15px;
  top: 400px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
  opacity: 0.3;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.icon-arrow,
.icon-arrow:before {
  position: absolute;
  left: 50%;
}

.icon-arrow {
  margin-left: -12px;
  opacity: 0.3;
  top: 440px;

  svg {
    top: 0px;
    margin-top: -35px;
    color: #fff;
    font-size: 30px;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-name: blink;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
